@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#wapper {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 56px 567px;
}

/*<<<<<<<<<<< header >>>>>>>>>>>>>>*/

#header {
    grid-column: 1 / span 2;
    background: #272727;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*<<<<<<<<<<<< menu-icon >>>>>>>>>>>>*/

.menu-icon {
    color: #ffffff;
    font-size: 30px;
    width: 40px;
    height: 40px;
}

.menu-icon ion-icon {
    cursor: pointer;
}

/*<<<<<<<<<<<<<<<  logo >>>>>>>>>>>>>>>>*/

.logo {
    color: #ffffff;
    font-size: 30px;
    width: 129px;
    height: 30px;
}

/*<<<<<<<<<<<< search-box >>>>>>>>>>>>>>>*/

.search-box {
    width: 800px;
    height: 30px;
}

/*<<<<<<<<<< search-input >>>>>>>>>>>>>*/

.search-input {
    background: #121212;
    width: 575px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*<<<<<<<<<< input-content >>>>>>>>>>>>>*/

.input-content input{
    width: 531px;
    height: 24px;
    background: none;
    border: none;
    font-size: 16px;
    color: #6a6a6a;
    outline: none;
    color: #dcdcdc;
}

/*<<<<<<<<<<<< input-keyboard >>>>>>>>>>*/

.input-keyboard {
    width: 27px;
    height: 24px;
    cursor: pointer;
}

.input-keyboard i {
    color: #a0a0a0;
    font-size: 18px;
}

/*<<<<<<<<<<< search-button >>>>>>>>>>*/
.search-button {
    width: 65px;
    height: 30px;
    background: #383838;
    border: none;
    outline: none;
    cursor: pointer; 
}

.search-button ion-icon {
    font-size: 20px;
    color: #565656;
}

.search-button:hover > ion-icon {
    color: #999;
}

/*<<<<<<<<<<<<<  actions-box  >>>>>>>>>*/
.actions-box {
    width: 252px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*<<<<<<<<<<  actions >>>>>>>>>>>>*/

.actions-box .actions {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px; 
    color: #ffffff;
}

.actions-box .actions .image{
    width: 30px;
    height: 30px;
    background: url('http://placekitten.com/g/30/30');
    border-radius: 50%;
}

/*<<<<<<<<<<<<<<  nav  >>>>>>>>>>>*/

#nav {
    background: #1c1c1c;
    overflow: auto;
}

/*<<<<<<<   ctrl     >>>>>>*/

#nav .ctrl {
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    border-bottom: 1px solid #333;
}

.ctrl a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
}

.ctrl a ion-icon, i {
    color: #909090;
    font-size: 20px;
}

.ctrl span {
    width: 120px;
    height: 21px;
    font-size: 15px;
    color: #ffffe9;
}

.ctrl .lable {
    height: 17px;
    padding: 8px 24px;
}

.ctrl .lable h3 {
    color: #aaaa9c;
    font-weight: 500;
    font-size: 16px;
}

.ctrl .avatas {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: url('http://placekitten.com/g/30/30');
}

.ctrl a:hover {
    background: #333333;
}

#nav .links .ctrl-link {
    padding: 16px 20px 0 24px;
    height: 72px;
}

.ctrl-link a {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #ccc;
    margin-right: 8px;
    text-decoration: none;
}

/*<<<<<<<<< scroll >>>>>>>>*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-tracck {
    background: #1c1c1c;
}

::-webkit-scrollbar-thumb {
    background: #333333;
}

/*<<<<<<<<<<<<<<<< content >>>>>>>>>>>>>>>>>>>>>*/

#content {
    background: #121212; 
}

#content .ctrl-content {
    width: 1090px;
    display: grid;
    grid-gap: 10px 0px;
    justify-content: space-around;
}

.ctrl-content .lable-content {
    width: 1020px;
    height: 20px;
}

.ctrl-content .lable-content h3 {
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
}

.ctrl-content .ctrl-video {
    display: grid;
    justify-content: space-between;
    grid-gap: 15px 10px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 205px 205px;
}

.ctrl-video .video {
    display: grid;
    align-content: space-between;
}

.video .video-image {
    background: #ccc;
    height: 118px;
}

.video .video-info {
    background: #ccc;
    height: 84px;
}





