@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#wapper {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 56px 567px;
}

/*<<<<<<<<<<< header >>>>>>>>>>>>>>*/

#header {
    grid-column: 1 / span 2;
    background: #272727;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*<<<<<<<<<<<< menu-icon >>>>>>>>>>>>*/

.menu-icon {
    color: #ffffff;
    font-size: 30px;
    width: 40px;
    height: 40px;
}

.menu-icon ion-icon {
    cursor: pointer;
}

/*<<<<<<<<<<<<<<<  logo >>>>>>>>>>>>>>>>*/

.logo {
    color: #ffffff;
    font-size: 30px;
    width: 129px;
    height: 30px;
}

/*<<<<<<<<<<<< search-box >>>>>>>>>>>>>>>*/

.search-box {
    width: 800px;
    height: 30px;
}

/*<<<<<<<<<< search-input >>>>>>>>>>>>>*/

.search-input {
    background: #121212;
    width: 575px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*<<<<<<<<<< input-content >>>>>>>>>>>>>*/

.input-content input{
    width: 531px;
    height: 24px;
    background: none;
    border: none;
    font-size: 16px;
    color: #6a6a6a;
    outline: none;
    color: #dcdcdc;
}

/*<<<<<<<<<<<< input-keyboard >>>>>>>>>>*/

.input-keyboard {
    width: 27px;
    height: 24px;
    cursor: pointer;
}

.input-keyboard i {
    color: #a0a0a0;
    font-size: 18px;
}

/*<<<<<<<<<<< search-button >>>>>>>>>>*/
.search-button {
    width: 65px;
    height: 30px;
    background: #383838;
    border: none;
    outline: none;
    cursor: pointer; 
}

.search-button ion-icon {
    font-size: 20px;
    color: #565656;
}

.search-button:hover > ion-icon {
    color: #999;
}

/*<<<<<<<<<<<<<  actions-box  >>>>>>>>>*/
.actions-box {
    width: 252px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*<<<<<<<<<<  actions >>>>>>>>>>>>*/

.actions-box .actions {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px; 
    color: #ffffff;
}

.actions-box .actions .image{
    width: 30px;
    height: 30px;
    background: url('http://placekitten.com/g/30/30');
    border-radius: 50%;
}

/*<<<<<<<<<<<<<<  nav  >>>>>>>>>>>*/

#nav {
    background: #1c1c1c;
}

/*<<<<<<<<<<<<    menu - options    >>>>>>>>>>>*/

#nav .menu {
    height: 410px;
}

#nav .menu .options {
    padding: 12px 0;
    border-bottom: 1px #333333 solid;
}

#nav .menu .options a, button {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    height: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*<<<<<<<<< icon >>>>>>>>>>*/

.menu button > ion-icon, a > ion-icon, i {
    color: #909090;
    font-size: 20px;
}

/*<<<<<<<<<<<<  span  >>>>>>>>>>*/

.menu a>span, button>span {
    font-weight: lighter;
    width: 120px;
    color: #ffffff;
    font-size: 15px;
}

/*<<<<<<<<<<  a:hover   >>>>>>>>*/

#nav .menu .options a:hover, button:hover {
    background: #333333;
}


#content {
    background: #121212; 
}